doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/buscofurgo.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{title}
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          //-ul.nav.navbar-nav.navbar-right
            li
              a(href='about.html') About
        // /.navbar-collapse
      // /.container
    // Header Carousel
    header.portada
      .row
          .col-md-offset-8.col-md-3
              form.search-box.clearfix(action='')
                  .form-group
                    label(for='search-text') Búsqueda
                    input#search-text.form-control(type='search', placeholder='Ej. Volkswagen T5 multivan')
                  .checkbox
                    label
                      input(type='checkbox')
                      |  Multipágina
                  button.btn.btn-primary.pull-right(type='submit') Buscar

    // Page Content
    .container#main-content
      .row
        .col-lg-12
          canvas#price-year-chart(width="400", height="100")
      .row
        .col-lg-12
          table#search-results.table.table-striped
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Your Website 2014
    // /.container
    script#search-result-tmpl(type='text/template')
        include templates/search_result.jade
    script#search-results-layout-tmpl(type='text/template')
        include templates/search_results_layout.jade
    script(src='javascripts/ext/jquery.js')
    script(src='javascripts/ext/bootstrap.min.js')
    script(src='javascripts/ext/underscore.js')
    script(src='javascripts/ext/backbone.js')
    script(src='javascripts/ext/backbone.radio.js')
    script(src='javascripts/ext/backbone.marionette.min.js')
    script(src='javascripts/ext/Chart.bundle.js')
    script(src='javascripts/charts.js')
    script(src='javascripts/app.js')
