.panel.panel-default
  .panel-heading 
    h3.panel-title Search Results
  table.table.table-striped
    thead
      tr
        th(data-sort='title') Título
        th(data-sort='year') Año
        th(data-sort='mileage') Kms.
        th(data-sort='cv') Cv.
        th(data-sort='price') Precio
        th Localidad
        th Origen
        th Descripción
    tbody
